<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Gestion des offres de stages{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    {% block stylesheets %}{% endblock %}

    {% block javascripts %}{% endblock %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Offres des stages</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-
                       haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-globe"></span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for key,locale in locales %}
                            <li><a href="{{ path(app.request.get('_route'),
                                    app.request.attributes.get('_route_params')|merge({'_locale': key})) }}">{{locale}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <div>
                        <a href="{{ path('app_stage_new') }}" class="btn btn-success navbar-btn">{{'stage.offrir'|trans}}</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    {% block body %}{% endblock %}
</div>
</body>
</html>
