{% extends 'base.html.twig' %}

{% block body %}
    {# Affichage des stages consultés récemment #}
    <div class="recent-stages">
        <h3>Les stages consultés récemment :</h3>
        {% if historyStages is empty %}
            <p>Aucun stage consulté récemment</p>
        {% else %}
            <p>
                {% for stage in historyStages %}
                    <a href="{{ path('app_stage_show', {'id': stage.id}) }}">{{ stage.poste }} - {{ stage.societe }}</a>
                    {% if not loop.last %} | {% endif %}
                {% endfor %}
            </p>
        {% endif %}
    </div>

    <h2>Liste des stages disponibles</h2>
    
    <table class="table text-center">
        <tr>
            <th class="active text-center">Poste</th>
            <th class="active text-center">Societe</th>
            <th class="active text-center">Catégorie</th>
            <th class="active text-center">Ville</th>
            <th class="active text-center">Action</th>
        </tr>

        {% for stage in stages %}
            <tr>
                <td><a href="{{ path('app_stage_show', {'id': stage.id}) }}">{{ stage.poste }}</a></td>
                <td>
                    <a href="#">
                        {{ stage.societe }}
                    </a>
                </td>
                <td>{{ stage.categorie.nom }}</td>
                <td>{{ stage.ville }}</td>
                <td>
                    <a href="{{ path('app_stage_show', {'id': stage.id}) }}">détails</a>
                    <a href="{{ path('app_stage_edit', {'id': stage.id}) }}">éditer</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <div class="actions">
        <a href="{{ path('app_stage_new') }}" class="btn btn-primary">Créer un nouveau stage</a>
    </div>
{% endblock %}