{% extends 'base.html.twig' %}

{% block title %}Stage{% endblock %}

{% block body %}
    <h1>Stage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stage.id }}</td>
            </tr>
            <tr>
                <th>Poste</th>
                <td>{{ stage.poste }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ stage.description }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ stage.type }}</td>
            </tr>
            <tr>
                <th>Actif</th>
                <td>{{ stage.actif ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Date_creation</th>
                <td>{{ stage.dateCreation ? stage.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_expiration</th>
                <td>{{ stage.dateExpiration ? stage.dateExpiration|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_modification</th>
                <td>{{ stage.dateModification ? stage.dateModification|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ stage.email }}</td>
            </tr>
            <tr>
                <th>Societe</th>
                <td>{{ stage.societe }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ stage.ville }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_stage_index') }}">back to list</a>

    <a href="{{ path('app_stage_edit', {'id': stage.id}) }}">edit</a>

    {{ include('stage/_delete_form.html.twig') }}
{% endblock %}
